<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand m-3" href="#"><img src="https://www.designnominees.com/application/upload/Apps/2016/06/goal-tracker-63.jpeg" style="width: 60px; height:50px;"></a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tools</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Guides</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Steps</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">More</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 d-flex">
            <h5 class="m-5 m-5 my-lg-3">Search<img class="m-2" src="https://www.freepnglogos.com/uploads/search-png/search-icon-clip-art-clkerm-vector-clip-art-online-0.png" style="width: 20px; height:20px"></h5>
            <button class="btn btn-warning m-5 my-2 my-sm-0" type="submit">Dashboard</button>
        </form>

    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-2 p-0">
            <div class="dashboard p-3"> step 2 Plan out each goal</div>

        </div>

        <div class="col-4">
            <div class="card">
                <div class="d-flex">
                    <div class="second"><span style="color: orange;">Step2</span> Plan out each goal</div>
                </div>
                <div class="d-flex justify-content-between">
                    <!-- <div>1</div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div> -->
                    <div class="container">

                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">Allgoals</a></li>
                            <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
                            <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
                            <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <h3>Allgoals</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <h3>Menu 1</h3>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <h3>Menu 2</h3>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                            </div>
                            <div id="menu3" class="tab-pane fade">
                                <h3>Menu 3</h3>
                                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>






            </div>
            <div>

            </div>

        </div>
        <div class="col-6 ">
            <div class="row">
                <div class="col-12">
                    <div class="fitness-health"><img src="../../assets/fitness.jpeg" style="height: 50%; width:50%">
                    </div>
                </div>
                <div class="col-12">
                    <div class="my-3">

                        <input type="text" name="GoalName" class="form-control" placeholder="Goal Name">

                    </div>
                </div>
                <div class="col-6">
                    <div class="mt-2">
                        <input type="date" name="goaldate" class="form-control">

                    </div>
                </div>
                <div class="col-6">
                    <div class="mt-2">
                        <input type="date" name="endDate" class="form-control">

                    </div>
                </div>
                <div class="col-12">
                    <div class="mt-2">
                        <textarea name="description" cols="10" rows="5" class="form-control" placeholder="Enter Goal description"></textarea>


                    </div>
                </div>

                <div class="col-6">
                    <div class="mt-2">
                        <button type="button" class="btn btn-primary">Save gole</button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mt-2">
                        <button type="button" class="btn btn-success">Next Stop:Achive</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>




